.bg {
    height: 200px;
    width: 100%;
}
.MainBtns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2.6rem 0 0 0;
}

.btnHoverColor {
    background-color: transparent;
}
.infoDiv {
    margin: 6rem 0;
}
.aboutUs > * {
    line-height: 1.9rem;
    color: hsl(0, 0%, 39%);
    margin-bottom: 1.8rem;
}
.pricingSegments {
    margin-top: 3rem;
}
.pricingSegments .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 375px) {
}
